/*
 * IntelliJustice Intelligence Referee Assistant System
 *
 * The MIT License
 *
 * Copyright 2011-2013 Andrey Pudov.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

/*
    Document   : ModuleBar.css
    Created on : Oct 16, 2012, 12:10:00 PM
    Author     : Andrey Pudov        <mail@andreypudov.com>
    Description:
        The general application style sheet.
*/

#moduleBarHome {
    -fx-background-color: null;
    -fx-graphic:          url("../images/button-home.png");
    -fx-font:             bold normal 13pt "Source Sans Pro Light";
    -fx-text-fill:        #E3E3DF;
    -fx-smooth:           true;
    -fx-effect:           dropshadow(one-pass-box, #464646, 1, 0, 1, 1);
}

#moduleBarLibrary {
    -fx-background-color: null;
    -fx-graphic:          url("../images/button-library.png");
    -fx-font:             bold normal 13pt "Source Sans Pro Light";
    -fx-text-fill:        #E3E3DF;
    -fx-smooth:           true;
    -fx-effect:           dropshadow(one-pass-box, #464646, 1, 0, 1, 1);
}

#moduleBarRemote {
    -fx-background-color: null;
    -fx-graphic:          url("../images/button-remote.png");
    -fx-font:             bold normal 13pt "Source Sans Pro Light";
    -fx-text-fill:        #E3E3DF;
    -fx-smooth:           true;
    -fx-effect:           dropshadow(one-pass-box, #464646, 1, 0, 1, 1);
}

#moduleBarSettings {
    -fx-background-color: null;
    -fx-graphic:          url("../images/button-settings.png");
    -fx-font:             bold normal 13pt "Source Sans Pro Light";
    -fx-text-fill:        #E3E3DF;
    -fx-smooth:           true;
    -fx-effect:           dropshadow(one-pass-box, #464646, 1, 0, 1, 1);
}

#moduleBarHelp {
    -fx-background-color: null;
    -fx-graphic:          url("../images/button-help.png");
    -fx-font:             bold normal 13pt "Source Sans Pro Light";
    -fx-text-fill:        #E3E3DF;
    -fx-smooth:           true;
    -fx-effect:           dropshadow(one-pass-box, #464646, 1, 0, 1, 1);
}

#moduleBarHome:selected {
    -fx-effect:           dropshadow(two-pass-box, #DFDFDF, 24, 0, 0, 2);
    -fx-text-fill:        #F3F3FF;
}

#moduleBarLibrary:selected {
    -fx-effect:           dropshadow(two-pass-box, #DFDFDF, 24, 0, 0, 2);
    -fx-text-fill:        #F3F3FF;
}

#moduleBarRemote:selected {
    -fx-effect:           dropshadow(two-pass-box, #DFDFDF, 24, 0, 0, 2);
    -fx-text-fill:        #F3F3FF;
}

#moduleBarSettings:selected {
    -fx-effect:           dropshadow(two-pass-box, #DFDFDF, 24, 0, 0, 2);
    -fx-text-fill:        #F3F3FF;
}

#moduleBarHelp:selected {
    -fx-effect:           dropshadow(two-pass-box, #DFDFDF, 24, 0, 0, 2);
    -fx-text-fill:        #F3F3FF;
}