/*
 * IntelliVision Intelligence Image Processing System
 *
 * The MIT License
 *
 * Copyright 2011-2013 Andrey Pudov.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

/*
    Document   : HomeModule.css
    Created on : Oct 28, 2012, 05:30:00 PM
    Author     : Andrey Pudov        <mail@andreypudov.com>
    Description:
        General application module with the the list of machines to scan.
*/

#remoteSplitPane {
    -fx-background-insets: 0;
    -fx-padding:           0;
}

#remoteSplitPane *.split-pane-divider{
    -fx-padding:           0 1 0 0;
    -fx-background-color:  transparent, #333333;
    -fx-background-insets: 0 -3 0 -3, 0;
    -fx-border-color:      null;
}

#remoteSplitPane *.horizontal-grabber {
    -fx-padding:           0;
    -fx-shape:             "";
}

#remoteMachineList {
    -fx-background-insets: 0;
    -fx-border-color:      #282828;
    -fx-border-width:      1 1 0 0;
    -fx-padding:           0;
}

#remoteMachineList *.list-cell {
    -fx-background-color:  #464646;
    -fx-cell-size:         41;
    -fx-padding:           0;
}

#remoteMachineList *.list-cell:selected {
    -fx-background-color: #596678;
}

#remoteMachineList .scroll-bar:horizontal,
#remoteMachineList .scroll-bar:vertical {
    -fx-background-color:  transparent;
    -fx-border-color:      #282828;
    -fx-border-width:      0 0 0 1;
}

#remoteMachineList .increment-button,
#remoteMachineList .decrement-button {
    -fx-background-color:  linear-gradient(from 0% 0% to 100% 0%,
                                           #363636, #3C3C3C);
    -fx-padding:           4px;
}

#remoteMachineList .scroll-bar .increment-arrow,
#remoteMachineList .scroll-bar .decrement-arrow {
    -fx-background-color:  #E8E8E8;
}

#remoteMachineList .scroll-bar:horizontal .track,
#remoteMachineList .scroll-bar:vertical   .track {
    -fx-background-color:  linear-gradient(from 0% 0% to 100% 0%,
                                           #363636, #3C3C3C);
    -fx-border-width:      0px;
    -fx-background-radius: 0em;
}

#remoteMachineList .scroll-bar:horizontal .thumb,
#remoteMachineList .scroll-bar:vertical   .thumb {
    -fx-background-color:  linear-gradient(from 0% 0% to 100% 0%,
                                           #9A9A9A, #6B6B6B);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 8px;
    -fx-border-color:      #3A3A3A;
    -fx-border-radius:     3px;
}

#remoteLabel {
    -fx-font:              bold normal 16pt "Source Sans Pro Semibold";
    -fx-background-radius: 12;
    -fx-background-color:  #535353;
}

#remoteToolbar {
    -fx-background-color:   linear-gradient(to bottom, #3C3C3C, #373737);
    -fx-border-color:       #282828;
    -fx-border-width:       1 1 0 0;
}

#remoteAddButton {
    -fx-background-color:    null;
    -fx-background-position: right center;
    -fx-background-repeat:   no-repeat;
    -fx-background-image:    url("../images/button-remote-add-unfocused.png");
}

#remoteRemoveButton {
    -fx-background-color:    null;
    -fx-background-position: right center;
    -fx-background-repeat:   no-repeat;
    -fx-background-image:    url("../images/button-remoe-delete-unfocused.png");
}